
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

.is--disabled-arrow {
    opacity: 0.2;
    pointer-events: none;
}
body {
    background-color: #1c1d21;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1vw;
    line-height: 1.6;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0.6em;
    font-size: 4em;
    line-height: 1;
    font-weight: 700;
}

.container {
width: 100%;
margin-right: auto;
margin-left: auto;
padding: 7.7em 10em;
}



.slide_list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-box-align: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
}

.slide_item {
position: relative;
z-index: 3;
width: 48%;
padding-right: 1.3em;
-webkit-box-flex: 0;
-webkit-flex: 0 0 auto;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
-webkit-transition: -webkit-transform 350ms ease;
transition: -webkit-transform 350ms ease;
transition: transform 350ms ease;
transition: transform 350ms ease, -webkit-transform 350ms ease;
}

.slide_card {
height: 100%;
padding: 2.4em 2.4em 14.3em;
border-radius: 1.6em;
color: #1c1d21;
}

.card_title {
margin-bottom: 0em;
font-size: 2.1em;
line-height: 1.4;
}

.slide_arrows {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
padding-top: 2.4em;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
}

.slide_arrow {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 5em;
height: 5em;
margin-right: 0.8em;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-radius: 200vw;
background-color: #1E88E5;
color: black;
cursor: pointer;
}

.slide_svg {
width: 2em;
height: 2em;
}

.slide_svg.is--flip {
-webkit-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
transform: rotate(-180deg);
}

.slide_contain {
width: 100%;
}

@media screen and (max-width: 991px) {
    body {
        font-size: 14px;
    }

    .container {
        padding-right: 3em;
        padding-left: 3em;
    }
}

@media screen and (max-width: 767px) {
    .slide_item {
        width: 80%;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 3.4em;
    }

    .container {
        padding-right: 7%;
        padding-left: 7%;
    }

    .slide_item {
        width: 104%;
        padding-right: 4%;
    }

    .slide_card {
        padding-top: 1.6em;
        padding-right: 7%;
        padding-left: 7%;
    }
}