@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0a;

}

.font-switzer-black {
  font-family: var(--font-switzer-black);
}
.font-switzer-reg {
  font-family: var(--font-switzer-reg);
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes pop-blob {
  0% { 
    transform: translate(-50%, -50%) scale(1);
  }
  33% { 
    transform: translate(-50%, -50%) scale(1.2);
  }
  66% { 
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% { 
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-pop-blob {
  animation: pop-blob 6s ease-in-out infinite;
}

.nav-bar {
    position: fixed;
    top: 14;
    left: 51%;
    transform: translateX(-50%);
    padding: 15px 30px;
    z-index: 1000;
    padding: 20px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    
}

.nav-bar a:hover {
    color: #888;
}

.nav-bar .separator {
    margin: 0 15px;
    color: #888;
}
